---
import "../styles/global.css";

import { getCollection } from "astro:content";

import Legend from "../components/react/legend";
import Layout from "../layouts/Layout.astro";
import Section from "../components/layout/section.astro";

// Visualisations
import AttackSurface from "../components/react/visualisations/attack-surface";  

const zeroTrustEntries = await getCollection("products", ({ data }) => {
  return data.product === "zero-trust";
});

const sectionMap = new Map();
zeroTrustEntries.forEach((entry) => {
  const key = entry.data.section.id;
  if (!sectionMap.has(key)) {
    sectionMap.set(key, {
      section: entry.data.section,
      content: { beginner: [], technical: [], deep: [] },
    });
  }

  const paragraphs = entry.body
    .trim()
    .split("\n\n")
    .filter((p) => p.trim());
  sectionMap.get(key).content[entry.data.depth] = paragraphs;
});

const ztnaCopy = Array.from(sectionMap.values())
  .sort((a, b) => a.section.order - b.section.order)
  .map(({ section, content }) => ({
    id: section.id,
    badgeTitle: section.badgeTitle,
    title: section.title,
    description: section.description,
    alignment: section.alignment,
    innerText: content,
  }));
---

<Layout>
  <main
    class="text-neutral-900 dark:text-neutral-100 font-sans min-h-screen bg-white dark:bg-neutral-950 relative"
  >
    <section
      id="overview"
      class="flex flex-col items-center justify-center p-8 py-20 text-center border-t border-neutral-200 dark:border-neutral-800 border-b border-neutral-200 dark:border-neutral-800"
    >
      <h1 class="text-4xl md:text-7xl font-medium mb-4 font-cormorant">
        Zero trust access network
      </h1>
      <p
        class="text-lg text-neutral-600 dark:text-neutral-400 max-w-2xl font-inter-tight"
      >
        An interactive guide to Cloudflare's Zero trust access network.
      </p>
    </section>
    <section
      class="flex flex-col items-start justify-center md:justify-start relative w-full"
    >
      <Legend client:visible />
      {
        ztnaCopy.map((section) => (
          <Section
            badgeTitle={section.badgeTitle}
            id={section.id}
            title={section.title}
            description={section.description}
            innerText={section.innerText}
            alignment={section.alignment}
          >
            <div slot="inner-content">
              {section.id === "the-shift" && <AttackSurface client:visible />}
            </div>
          </Section>
        ))
      }
    </section>
  </main>
</Layout>
